<%- include("partials/header")%>
<div class="row d-flex align-items-center h-100">
    <div class="col-6">
        <img src="/images/404-pixar-cry.jpeg" alt="" >
    </div>
    <div class="col-6 h-100" >
        <blockquote class="blockquote text-center">
            <strong><h1 style="font-size : 100px;">404</h1></strong>
            <h3 class="mb-0">
                Awwwww can't find the page you're looking for...
            </h3>
            <footer class="blockquote-footer text-right">
                Check out other pages
            </footer>
        </blockquote>
    </div>
</div>
<%- include("partials/footer")%>
